th, td {
  padding: 3px 10px;
  text-align: center; }

.alert-block {
  height: 30px; }

.main-tabel {
  margin: 0 auto;
  width: 75%;
  margin-top: 20px; }

.allWidth {
  width: 100%; }

.content {
  border: 1px solid blue;
  color: #000099; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: blue; }

a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
